In [28]:
import pandas as pd

df = pd.read_csv('../inputs/stocks-us-adjClose.csv')
df_ind_train = pd.read_csv('../inputs/Indicators_Train.csv')
df_ind_train = df_ind_train[df_ind_train['date'] != 'desc']
df_ind_train.head(10)

,date,HOUST,HOUST_dt,UNRATENSA,UNRATENSA_dt,EMRATIO,EMRATIO_dt,UEMPMED,UEMPMED_dt,UMCSENT,...,USSLIND,USSLIND_dt,KCFSI,KCFSI_dt,IPMAN,IPMAN_dt,VIXCLS,VIXCLS_dt,DGS10,DGS10_dt
1,1/1/1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/2/1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/3/1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/4/1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1/5/1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1/6/1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1/7/1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1/8/1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1/9/1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1/10/1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df_ind_train.dtypes

date            object
HOUST           object
HOUST_dt        object
UNRATENSA       object
UNRATENSA_dt    object
EMRATIO         object
EMRATIO_dt      object
UEMPMED         object
UEMPMED_dt      object
UMCSENT         object
UMCSENT_dt      object
USSLIND         object
USSLIND_dt      object
KCFSI           object
KCFSI_dt        object
IPMAN           object
IPMAN_dt        object
VIXCLS          object
VIXCLS_dt       object
DGS10           object
DGS10_dt        object
dtype: object